html,body{
    height: 100%;
}
.navbar {
    background-color: #563d7c;
}
.text{
    font-size: 24px;
}
.intro{
    font-size: 40px;
    font-weight: bolder;
}

.quick{
    font-size: 30px;
    font-weight: bolder;
}
.btn {
    color: #ffe484;
    font-weight: bolder;
}
.nav-link{
    color: #cbbde2;
}
.row{
    margin-top: 5px;
}
.btn{
    background-color: #563d7c;
}
.btn:hover{
    background-color: gold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }